  /* Sidebar container */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #1c2034;
    color: #fff;
    transition: width 0.3s;
    overflow-y: auto;
  }

  /* Collapsed and expanded widths */
  .sidebar.collapsed {
    width: 80px;
  }
  .sidebar.expanded {
    width: 20%;
  }

  /* Sidebar title */
  .sidebar-title {
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }

  /* Navigation list */
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar nav ul li {
    margin: 15px 0;
    margin-left: 40px;
  }

  /* Links */
  .sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .sidebar nav ul li a span {
    margin-left: 10px;
  }

  /* Collapsed state */
  .sidebar.collapsed nav ul li a span {
    display: none;
  }
  /* Content Area */
.content {
  margin-left: 250px; /* Default when sidebar is expanded */
  transition: margin-left 0.3s; /* Smooth transition */
}

.sidebar.collapsed ~ .content {
  margin-left: 80px; /* Adjust margin when sidebar is collapsed */
}

/* Prevent Horizontal Scroll */


/* Ensure Images or Wide Content Respects Layout */
img, iframe, video {
  max-width: 100%;
  height: auto;
}

