
  /* Add this CSS to make the sidebar responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding: 10px;
  }
  .sidebar h2 {
    font-size: 16px;
  }
  .sidebar ul li {
    font-size: 14px;
  }
}
.app-sec{
  background-color: #eef6f7;
}